{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="min-vh-100 d-flex align-items-center justify-content-center">
	<div class="card shadow rounded p-4 d-flex align-items-center m-lg-3 m-xl-3 m-1" style="width:300px">
		  <h2 class="text-center mb-4">Register</h2>

		  <form id="my_form" method="POST" class="w-100">
			{% csrf_token %}
			{% for field in form %}
			 <div>
			   {{ field|as_crispy_field }}
			   {% for error in field.errors %}
				   <div>
					 {{ error }}
					 </div>
				{% endfor %}
			 </div>
		   {% endfor %}
			<a class="btn btn-dark rounded d-block" href="javascript:{}" onclick="document.getElementById('my_form').submit();">Register</a>
		  </form>
	</div>
</div>

{% endblock content%}
